<table class="table table-striped">
  <thead>
    <tr>
      <input type="text" placeholder="search here" [(ngModel)]="searchText" />
    </tr>
    <tr *ngIf="_columnHeader">
      <th *ngFor="let column of _columnHeader">
        <!--Show Input box if it can be filter-->
        <div *ngIf="_columnDefinition && _columnDefinition.filterable">
          <Input
            type="text"
            placeholder="{{ column }}"
            (input)="inputChange($event, column)"
          />
        </div>
        <!--Show Label if it can't be filter-->
        <div *ngIf="_columnDefinition && !_columnDefinition.filterable">
          {{ column }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of _data | tableFilter: searchText">
      <td>{{ item.userId }}</td>
      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>{{ item.loginName }}</td>
      <td>{{ item.password | maskPassword }}</td>
      <td>{{ item.email }}</td>
    </tr>
  </tbody>
</table>
